{% extends 'base_dashboard.html' %}

{% block page_title %}
<i class="bi bi-building me-2"></i> Actes par structure
{% endblock %}

{% block dashboard_content %}
<h5>Répartition des actes par structure</h5>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Structure</th>
            <th>Nombre d’actes générés</th>
            <th>Dernière génération</th>
        </tr>
    </thead>
    <tbody>
        <!-- Exemple de lignes -->
        <tr>
            <td>Mairie de Koumassi</td>
            <td>132</td>
            <td>2025-05-20</td>
        </tr>
        <tr>
            <td>Mairie de Cocody</td>
            <td>189</td>
            <td>2025-05-21</td>
        </tr>
    </tbody>
</table>
{% endblock %}
