{% extends 'base_agent.html' %}

{% block page_title %}
<i class="bi bi-file-earmark-check me-2"></i> Génération d’acte
{% endblock %}

{% block dashboard_content %}
<h5>Génération d’actes validés</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID Demande</th>
            <th>Citoyen</th>
            <th>Type d’acte</th>
            <th>Date de validation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-00111</td>
            <td>M. Yao Konan</td>
            <td>Acte de mariage</td>
            <td>2025-05-19</td>
            <td>
                <a href="#" class="btn btn-sm btn-success">Générer PDF</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
