{% extends 'base_citoyen.html' %}

{% block page_title %}
<i class="bi bi-file-earmark-text me-2"></i> Mes demandes
{% endblock %}

{% block dashboard_content %}
<h5>Liste de vos demandes</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Demande</th>
            <th>Type d’acte</th>
            <th>Date de demande</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-00321</td>
            <td>Acte de naissance</td>
            <td>2025-05-15</td>
            <td>En cours</td>
            <td>
                <a href="#" class="btn btn-sm btn-info">Voir détails</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
