{% extends 'base_citoyen.html' %}

{% block page_title %}
<i class="bi bi-file-plus me-2"></i> Nouvelle demande
{% endblock %}

{% block dashboard_content %}
<h5>Faire une nouvelle demande</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="type_acte" class="form-label">Type d’acte</label>
        <select class="form-select" id="type_acte" name="type_acte" required>
            <option value="">Sélectionnez un type</option>
            <option value="naissance">Acte de naissance</option>
            <option value="mariage">Acte de mariage</option>
            <option value="deces">Acte de décès</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="justificatif" class="form-label">Télécharger justificatif (le cas échéant)</label>
        <input type="file" id="justificatif" name="justificatif" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Soumettre la demande</button>
</form>
{% endblock %}
